= haml :round_base, :layout => false
%p
  %a{:href => "/rounds/#{@round.id}/questions"} Go back
- if @question.nil?
  %p{:style => "text-align: center;margin-top:100px;margin-bottom:100px"}
    No Question found.
- else
  %ul.list-group#question-list{:class => ('votable' if @round.votable?)}
    = haml :'questions/_list_item', :layout => false, :locals => {:question => @question}
