%form{:method => :post, :action=>"/rounds/#{@round.id}/questions/create"}
  = haml :'questions/_form_fields', :layout => false, :locals => {:text_limit => 350}
  %button.btn.btn-success{:type => :submit} Create
